<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <ion-item>
          <ion-range min="5" max="500" [(ngModel)]="range" color="secondary">
              <ion-label range-left>5</ion-label>
              <ion-label range-right>500</ion-label>
            </ion-range>  
      </ion-item>    
      <ion-item>
        {{range}}
      </ion-item>
      <ng-container *ngFor="let list of listings">
        <ion-item *ngIf="list.distance <= range">
            <h2>{{list.title}}</h2>
            <h3>Description </h3>
            <p>{{list.distance}} miles away</p>
            <button ion-button clear large item-end>${{list.price}}</button>
        </ion-item>
      </ng-container>
    </ion-list>
</ion-content>
